@import '../../../elements-sk/modules/styles/buttons';
@import '../../../elements-sk/modules/colors';
@import '../colors';

ignores-page-sk {
  .controls {
    display: flex;
    padding: 4px 0;
    *,
    checkbox-sk .box {
      margin: auto 5px;
    }
  }

  .small-icon > .icon-sk-svg {
    width: 20px;
    height: 20px;
  }

  table {
    border-collapse: collapse;
    min-width: 100%;
    margin-bottom: 10px;
  }

  th {
    border-bottom: 2px solid var(--on-surface);
  }

  dialog[open] {
    background: var(--surface);
    color: var(--on-surface);
  }

  tr {
    &.expired,
    &.expired td,
    &.expired a:link {
      background: var(--error-container);
      color: var(--on-error-container);
      fill: var(--on-error-container);
    }
  }

  td {
    border: 1px solid var(--on-surface);
    border-bottom: 1px solid var(--on-surface);
    text-align: center;
    padding: 6px 2px;

    &.mutate-icons {
      *:hover {
        fill: var(--gold);
        cursor: pointer;
      }
    }
    &.query {
      vertical-align: middle;
      text-align: left;
      a {
        white-space: pre;
      }
    }
    &.expired {
      font-weight: bolder;
    }
  }
}
