@import '../../../infra-sk/themes';
@import '../../../elements-sk/modules/styles/buttons';

query-dialog-sk {
  color: var(--on-surface);
  background-color: var(--surface);

  dialog {
    color: var(--on-surface);
    background-color: var(--surface);
    .content {
      display: flex;
      flex-direction: row;
    }

    .selection-summary {
      min-width: 300px;
      margin-left: 8px;
    }

    paramset-sk div {
      display: block;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
