@import '../../../infra-sk/themes.scss';

edit-ignore-rule-sk {
  .columns {
    display: flex;
    > * {
      margin: 2px 5px;
    }
  }

  .error {
    border: 1px solid var(--on-error-container);
    background-color: var(--error-container);
  }

  #expires {
    flex-grow: 1;
  }

  .query {
    white-space: pre;
  }
}
