@import '../../../elements-sk/modules/colors';
@import '../colors';

changelists-page-sk {
  .controls {
    display: flex;
    checkbox-sk {
      margin: auto 2px;
    }
  }

  table {
    border-collapse: collapse;
  }

  thead th {
    font-weight: bold;
    text-align: left;
    border: 1px solid var(--disabled);
  }

  tr {
    background: var(--surface);
  }

  tr:hover {
    background: var(--surface-1dp);
  }

  td {
    padding: 0.25em;
    min-width: 4em;
    &.owner {
      word-break: break-word;
    }
    &.id {
      white-space: nowrap;
    }
  }

  a {
    color: var(--bright-orange);
    font-weight: bold;
    cursor: pointer;
  }
}
