name: Run all the UI tests and upload the results to Gold.

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout goldmine repo.
      uses: actions/checkout@v5
      with:
        path: main
        fetch-depth: 2 # Get last two commits so we can find the value of HEAD^

    - name: Dump all the environment variables for debugging.
      run: printenv | sort

    - name: PWD
      working-directory: ./main
      run: pwd 

    - name: log
      working-directory: ./main
      run: "git log --oneline | head"

    - name: Grab and echo the HEAD commit hash for debugging.
      working-directory: ./main
      run: git rev-parse HEAD

    - name: Show all the parent hashes for the merge commit.
      working-directory: ./main
      run: "git log --pretty=%P -n 1 $GITHUB_SHA"

    - name: Run all the UI tests and upload the results to Gold.
      env:
        GCP_GCS_SERVICE_ACCT : ${{secrets.GOLDMINE_PRIVATE_GOLD_SERVICE_ACCOUNT_KEY}}
      working-directory: ./main
      run: ./upload_to_gold/upload.sh 
